.icon_on_page {
    width: 40px;
    height: 40px;
}
.quiz-h{
	color: #0078B8;
	font-size: 24px;
	font-weight: bold;
}
.quiz-row{
	padding-left: 35px;
}
.quiz-padding{
	padding-top:35px;
}
.timer {
    color: #0078B8;
	font-size: 16px;
	font-weight: bold;
}
.quiz-answers{
    font-size: 20px;
	font-weight: bold;
}
.quiz-end-com{
    font-size: 12px;
    color:Gray;
}
.padding-top10{
    padding-top:10px;
}
.padding-bottom{
    padding-bottom:10px;
}
