.icon_on_page {
    width: 40px;
    height: 40px;
}
.quiz-h{
	color: #0078B8;
	font-size: 24px;
	font-weight: bold;
}
.quiz-row{
	padding-left: 35px;
}
.quiz-padding{
	padding-top:35px;
}
.timer {
    color: #0078B8;
	font-size: 16px;
	font-weight: bold;
}
.quiz-answers{
    font-size: 20px;
	font-weight: bold;
}
.quiz-end-com{
    font-size: 12px;
    color:Gray;
}
.padding-top10{
    padding-top:10px;
}
.padding-left10{
    padding-left:10px;
}
.padding-bottom{
    padding-bottom:10px;
}
.leftimg {
    float:left;
    margin: -13px 20px 7px -30px;
   }
.input_container {
	height: 30px;
	float: left;
}
.input_container input {
	height: 20px;
	width: 200px;
	padding: 3px;
	border: 1px solid #cccccc;
	border-radius: 0;
}
.input_container ul {
	width: 206px;
	border: 1px solid #eaeaea;
	position: absolute;
	z-index: 9;
	background: #E2E3E4;
	list-style: none;
	padding-left:20px;
}
.input_container ul li {
	padding: 2px;
}
.input_container ul li:hover {
	background: #0078B8;
	text-decoration: none;
    color: #fff;
}
#country_list_id {
	display: none;
}
#group_list_id {
	display: none;
}
